@import 'vars';
@import 'global';
@import 'fonts';


// Шапка верх start

.header {
   background-color: #fff;
}

.header__top-inner {
   display: flex;
   justify-content: space-between;
   height: 90px;
   align-items: center;
}

.header__text {
   margin-left: auto;
   margin-right: 50px;

   span {
      color: $red;
   }
}

.header__btn {
   padding: 4px;
   width: 72px;
   border-radius: 4px;
   text-align: center;
   color: #fff;
   font-size: 12px;
}

.header__btn-login {
   background-color: $green;
}

.header__btn-register,
.header__btn-logout {
   background-color: $red;
   margin-left: 7px;
}

.header__circle {
   &.active {
      display: block;
   }

   display: none;
   width: 34px;
   height: 34px;
   border-radius: 50%;
   background: #f5f5f5;
   position: relative;

   &::before {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: #a0a0a0;
      font-size: 14px;
   }

   span {
      position: absolute;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      text-align: center;
      line-height: 18px;
      right: -7px;
      top: -7px;
      font-size: 11px;
      color: #fff;
   }
}

.header__box {
   display: flex;
   align-items: center;
}

.notification {
   span {
      background-color: $yellow;
   }
}

.message {
   span {
      background-color: $tomate;
   }
}

.bascet {
   margin-right: 20px;

   span {
      background-color: $green;
   }
}

.header__btn-login--off {
   display: none;
}

.header__btn-logout {
   display: none;

   &.header__btn-login--on {
      display: block;
   }
}

.user {
   margin-right: 25px;
   padding-right: 20px;
   position: relative;

   &::before {
      content: "\f107";
      position: absolute;
      font-family: 'icomoon';
      font-size: 16px;
      color: #707070;
      top: 0;
      right: 0;
   }

   &__inner {
      display: flex;
      align-items: center;
   }

   &__images {
      margin-right: 15px;
      width: 34px;
      height: 34px;
      overflow: hidden;
      border-radius: 50%;
   }

   &__info {
      font-size: 14px;
      line-height: 24p;
   }

   &__name {
      @include f500;
      color: #222;
   }

   &__money {
      color: $green;
      @include f700;
   }
}

.user__menu {
   left: 20px;
   border: 0px solid rgb(204, 204, 204);
   position: absolute;
   background-color: #fff;
   padding: 0 20px;
   width: 158px;
   transition: all .3s;
   height: 0;
   overflow: hidden;
   top: 70px;

   a {
      font-size: 12px;
      color: #546e7a;
      margin-bottom: 15px;
   }
}

.user__box,
.bascet__box,
.notification__box,
.message__box {
   position: relative;
   height: 90px;
   margin-top: 40px;

   &:hover {
      .user__menu {
         height: auto;
         border-width: 1px;
         padding: 20px;
         overflow: auto;
      }
   }
}

.circle__menu {
   position: absolute;
   border-top: 1px solid #e0e0e0;
   top: 62px;
   right: 0;
   height: 0;
   overflow: hidden;
   transition: all .3s;
   z-index: 1;
}

.bascet__box,
.notification__box,
.message__box {
   margin-top: 54px;
   margin-left: 17px;

   &:hover {
      .header__circle::before {
         color: $bg;
      }

      .circle__menu {
         overflow: hidden;
         height: auto;
      }

      .circle__item {
         padding: 23px 23px;
         border-width: 1px;
      }
   }
}

.circle__item {
   background-color: #fff;
   border: 0px solid #e0e0e0;
   border-left-width: 1px;
   border-right-width: 1px;
   border-top: none;
   padding: 0 23px;
   transition: all .3s;
   display: flex;
   align-items: center;
   width: 269px;
   position: relative;

   &::before {
      position: absolute;
      top: 27px;
      right: 28px;
      color: #b0bec5;
      font-size: 16px;
   }
}

.circle__images {
   margin-right: 15px;
}

.circle__info-name {
   @include f500;
   color: $bg;
}

.circle__info-thema {
   @include f700;
   font-size: 12px;
   color: $green;
}

.circle__info-price {
   @include f500;
   color: #000;
   font-size: 16px;
}

.circle__info-date {
   @include f500;
   color: #90a4ae;
   font-size: 10px;
}

.bascet__summ {
   padding: 16px 17px 12px;
   border: 1px solid #e0e0e0;
   border-top: none;
   background-color: #fff;
}

.bascet__title {
   display: flex;
   justify-content: space-between;
   padding-left: 13px;
   padding-right: 22px;
   margin-bottom: 15px;
   @include f700;
   font-size: 16px;
   color: $bg;
}

.bascet__btn {
   @include f700;
   color: #fff;
   font-size: 14px;
   padding: 12px 5px;
   background-color: $green;
   text-align: center;
   width: 100px;
}

.bascet__btn-checkout {
   width: 123px;
   margin-left: 6px;
   background-color: #e85647;
}

.notification__menu,
.message__menu {
   .circle__images {
      margin-right: 20px;
      width: 48px;
      height: 48px;
      border-radius: 50%;
   }

   .circle__info {
      line-height: 18px;
   }
}

.icons-color::before {
   color: $tomate;
}

.header__btn-menu,
.menu__btn {
   display: none;
}

// End Header Top
// Шапка низ start

.header__menu {
   background-color: $bg;
}

.menu {
   display: flex;
   align-items: center;
   height: 60px;
}

.menu__list {
   li {
      display: inline-block;

      &+li {
         margin-left: 30px;
      }
   }

   a {
      color: #fff;
      font-size: 14px;
   }
}

// End Шапка низ 
// Блок поиск start

.search {
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   min-height: 533px;

   &.page-search {
      min-height: 230px;

      .search__inner {
         padding: 55px 0px 60px;

         &-text {
            margin-bottom: 20px;
         }
      }
   }
}

.search__inner {
   padding: 155px 0px 100px;
   color: #fff;
   text-align: center;

   &-title {
      margin-bottom: 10px;
      @include f700;
      font-size: 48px;
      line-height: 72px;
   }

   &-text {
      margin-bottom: 50px;
      @include f500;
      font-size: 20px;
      line-height: 30px;
   }

   &-form {
      max-width: 670px;
      margin: 0 auto;
      position: relative;

      input {
         display: block;
         width: 100%;
         box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
         border-radius: 4px;
         height: 56px;
         border: none;
         font-size: 14px;
         @include f500;
         padding-left: 25px;

         &::placeholder {
            color: #90a4ae;
            @include f500;
         }
      }

      button {
         position: absolute;
         border: none;
         background-color: transparent;
         right: 20px;
         top: 16px;
      }
   }
}

// End Блок поиск
// Блок продукты start

.products {
   padding: 100px 0px;
   background-color: $grey;
}

.products__inner-btn {
   text-align: center;
   margin-bottom: 60px;

   button {
      padding: 12px 21px;
      border: none;
      background-color: #fff;
      color: $bg;
      cursor: pointer;

      &+button {
         margin-left: 5px;
      }

      &.mixitup-control-active {
         background-color: $red;
         color: #fff;
         outline: none;
      }
   }
}

.products__inner-box {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}

.product__item {
   max-width: 442px;
   width: 100%;
   box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
   background-color: #fff;
   margin-bottom: 30px;

   &-img {
      min-height: 250px;
      background-repeat: no-repeat;
      display: block;
      background-position: center;
      background-size: cover;
   }

   &-content {
      display: flex;
      justify-content: space-between;
      padding: 10px 30px;
      align-items: center;
      @include f500;
      min-height: 90px;
      color: $bg;
      border-bottom: 1px solid #e7ecf2;
   }

   &-name {
      max-width: 310px;
   }

   &-title {
      display: block;
      font-size: 18px;
   }

   &-category {
      display: block;
      font-size: 14px;
      color: $green;
   }

   &-price {
      font-size: 20px;
      @include f700;
   }

   &-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: 70px;
      padding: 10px 30px;
   }

   &-author {
      display: flex;
      align-items: center;
      max-width: 245px;

      .avatar {
         min-width: 30px;
         height: 30px;
         border-radius: 50%;
         background-position: center;
         display: inline-block;
         background-repeat: no-repeat;
         background-size: cover;
         margin-right: 14px;
      }

      span {
         font-size: 14px;
         @include f500;
      }
   }

   &-star {
      font-size: 12px;

      span {
         color: $bg;
      }
   }
}

.products__bottom-btn {
   text-align: center;

   button {
      margin: 45px 5px 0;
      box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
      background-color: #fff;
      border: none;
      color: $bg;
      padding: 20px 30px;
      cursor: pointer;

      &.mixitup-control-active {
         background-color: $red;
         color: #fff;
         outline: none;
      }
   }
}

// End Блок продукты
// Слайдер start

.product-slider {
   padding: 110px 0px 12px;

   .slick-dots {
      text-align: center;
      margin-top: 50px;

      li {
         display: inline-block;
         margin-left: 3px;
         margin-right: 3px;

         &.slick-active {
            button {
               background-color: $green;
            }
         }

         button {
            border-radius: 50%;
            background-color: rgb(232, 232, 232);
            border: none;
            font-size: 0;
            width: 16px;
            height: 16px;
            cursor: pointer;
            outline: none;
         }
      }
   }
}

// End Слайдер
// Advantages start

.advantages {
   background-color: $bg;
   padding: 110px 0px;
}

.advantages__title {
   color: #fff;
}

.advantages__inner {
   display: flex;
   justify-content: space-between;
}

.advantages__item {
   max-width: 370px;
   text-align: center;
   padding: 0px 15px;

   &:hover {
      .advantages__item-images {
         background-color: $green;
      }

      .advantages__item-title {
         color: $green;
      }

      .advantages__item-images {
         .cls-1 {
            fill: #fff;
         }

         stop {
            stop-color: #fff;
         }
      }
   }

   &-images {
      width: 114px;
      height: 114px;
      background-color: #fff;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0px auto 30px;
      transition: all 0.5s;
   }

   &-title {
      margin-bottom: 25px;
      color: #fff;
      @include f500;
      font-size: 24px;
      transition: all 0.5s;
   }

   &-text {
      font-size: 15px;
   }
}

.icosvg-1 {
   svg {
      width: 75px;
   }
}

.icosvg-2 {
   svg {
      width: 70px;
   }
}

.icosvg-3 {
   svg {
      width: 80px;
   }
}

// End Advantages
// Author start

.author {
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   min-height: 750px;
   display: flex;
   justify-content: center;
   align-items: center;

   &__box {
      max-width: 650px;
      width: 100%;
      min-height: 215px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $green;
   }

   &__title {
      font-size: 30px;
      line-height: 30px;
      color: #fff;
      margin-right: 45px;
      max-width: 265px;

      span {
         @include f700;
      }
   }

   &__link {
      font-size: 18px;
      line-height: 36px;
      padding: 14px 40px;
      background-color: #fff;
   }
}

// End Author
// Tutorial start

.tutorial {
   padding: 70px 0px 120px;

   &__inner {
      display: flex;
      justify-content: space-between;
   }

   &__item {
      max-width: 370px;
      width: 100%;
   }
}

.tutorial__item {
   &-images {
      min-height: 270px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
   }

   &-title {
      background-color: #f8f8f8;
      @include f700;
      font-size: 24px;
      text-align: center;
      padding: 30px 10px;
      color: $bg;
   }
}

// End Tutorial
// Footer start

.footer {
   background-color: $bg;

   &__inner {
      display: flex;
      justify-content: space-between;
      padding: 100px 0px 80px;
   }
}

.footer__copy {
   border-top: 1px solid #424d53;

   &-text {
      text-align: center;
      font-size: 15px;
      color: #919699;
      padding: 25px 0px;
   }
}

.footer__col {
   max-width: 270px;
   width: 100%;

   &-menu {
      max-width: 220px;
   }

   &-title {
      font-size: 22px;
      font-family: 'Raleway', sans-serif;
      font-weight: 700;
      color: #fff;
      padding-bottom: 30px;
      margin-bottom: 30px;
      position: relative;

      &::after {
         content: '';
         position: absolute;
         bottom: 0;
         left: 2px;
         width: 51px;
         height: 3px;
         background-color: $green;
      }
   }

   &-text {
      color: #b7c3c8;
      margin-bottom: 30px;
   }

   &-list {
      a {
         margin-bottom: 13px;
         color: #a1adb1;
         padding-left: 22px;
         position: relative;

         &::before {
            content: "\f105";
            font-family: 'icomoon';
            color: $green;
            position: absolute;
            left: 0;
            font-size: 18px;
         }
      }
   }

}

.footer__info {
   margin-top: 18px;
   @include f500;
   color: #fff;
   padding-left: 30px;
   position: relative;

   &::before {
      content: "\f041";
      font-family: 'icomoon';
      color: $green;
      font-size: 18px;
      position: absolute;
      left: 0;
   }

   &-phone {
      &::before {
         content: "\f095";
      }
   }
}

.footer__social-link {
   margin-bottom: 33px;

   li {
      display: inline-block;

      &+li {
         margin-left: 7px;
      }
   }

   a {
      width: 29px;
      height: 28px;
      background-image: url(../images/css_sprites.png);


   }
}

.link-facebook {
   background-position: -1px -1px;
}

.link-twitter {
   background-position: -30px -1px;
}

.link-youtube {
   background-position: -1px 28px;
}

.link-pinteres {
   background-position: -120px 29px;
}

.link-linledin {
   background-position: -60px -1px;
}

.footer__form-title {
   margin-bottom: 15px;
   color: #fff;
   font-size: 20px;
}

.footer__form {
   position: relative;

   input {
      border: none;
      background-color: #2f3c43;
      display: block;
      width: 100%;
      height: 40px;
      color: #fff;
      font-size: 14px;
      padding-left: 13px;
      padding-right: 50px;

      &::placeholder {
         color: #697378;
      }
   }

   button {
      position: absolute;
      height: 40px;
      width: 43px;
      bottom: 0;
      right: 0;
      background-color: $green;
      border: 0;
      cursor: pointer;

      &::before {
         content: "\f124";
         font-family: 'icomoon';
         // position: absolute;
         // top: 7px;
         // left: 12px;
         color: #fff;
         font-size: 22px;
      }
   }
}

// End Footer
// Product-page start

.product-page__inner {
   display: flex;
   padding-bottom: 110px;
}

.product-page__aside {
   margin-right: 30px;
}

.aside__item {
   background-color: #fff;
   border: 1px solid #dedede;
   padding: 0px 32px 32px;
   margin-bottom: 30px;
   width: 270px;
}

.aside__title {
   border-bottom: 1px solid #dde3e8;
   font-size: 20px;
   color: $bg;
   padding: 22px 0px 19px;
   @include f700;
}

.category__list {
   padding-top: 10px;

   li {
      padding: 10px 0;
      display: flex;
      justify-content: space-between;
      position: relative;
      padding-left: 20px;

      &::before {
         content: "\f105";
         font-family: 'icomoon';
         color: $green;
         font-size: 18px;
         position: absolute;
         left: 0;
      }
   }

   a {
      color: $bg;
   }

   span {
      color: #90a4ae;
      margin-left: 10px;

   }
}

.price-range {
   form {
      padding-top: 20px;
   }

   button {
      margin-top: 55px;
      padding: 16px 10px;
      background-color: $green;
      text-align: center;
      color: #fff;
      @include f500;
      width: 100%;
      display: block;
      border: none;
      cursor: pointer;
      position: relative;

      &::before {
         content: "\f002";
         font-family: 'icomoon';
         color: #fff;
         font-size: 15px;
         position: absolute;
         left: 58px;
         top: 15px;
      }
   }
}

.irs-min,
.irs-max {
   display: none;
}

.irs--flat .irs-line {
   background-color: #f2f5f8;
   height: 5px;
}

.irs--flat .irs-bar {
   background-color: #37474f;
   height: 5px;
}

.irs--flat .irs-handle {
   width: 16px;
   height: 16px;
   border: 4px solid $green;
   background-color: #fff;
   border-radius: 50%;
}

.irs--flat .irs-handle>i:first-child {
   display: none;
}

.irs-from,
.irs-single,
.irs-to {
   top: 45px;
}

.irs--flat .irs-from::before,
.irs--flat .irs-single::before,
.irs--flat .irs-to::before {
   display: none;
}

.irs--flat .irs-from,
.irs--flat .irs-single,
.irs--flat .irs-to {
   color: #78909c;
   font-size: 15px;
   line-height: 1.333;
   text-shadow: none;
   padding: 0;
   background-color: transparent;
   border-radius: 0px;
}

.irs--flat .irs-handle {
   top: 19px;
}

.product-page__aside {
   .product__item-img {
      min-height: 120px;
   }

   .product__item-content {
      padding: 0;
      min-height: 75px;
      border-bottom: none;
   }

   .product__item-info {
      padding: 0;
      min-height: 0;
   }

   .product__item-title {
      font-size: 16px;
   }

   .product__item-price {
      font-size: 16px;
   }

   .product__item-starnum {
      display: none;
   }

   .rate-star {
      margin-right: 0;
   }

   .product__item-author .avatar {
      margin-right: 9px;
   }

   .jq-ry-container {
      padding: 0;
   }

   .product__item-aside {
      box-shadow: none;
      padding-bottom: 30px;
      margin-bottom: 30px;
      border-bottom: 1px solid #dde3e8;
   }
}

.aside__product-item {
   .product__item:last-child {
      border: none;
      padding-bottom: 0;
   }

   .product__item-aside:first-child {
      margin-top: 30px;
   }
}


.top-sellers__link {
   padding: 16px 10px;
   display: block;
   background-color: $green;
   color: #fff;
   @include f500;
   line-height: 17px;
   text-align: center;
   width: 100%;
   margin-top: 40px;
}

.product-page__filter {
   background-color: #fff;
   border: 1px solid #dedede;
   padding: 0px 20px;
   margin-bottom: 30px;
   height: 60px;
   display: flex;
   justify-content: space-between;
   align-items: center;

   button {
      cursor: pointer;
      background-color: transparent;
      border: none;
      font-size: 16px;
      color: #90a4ae;
      outline: none;

      &.active {
         color: $green;
      }
   }
}

.product-page__filter-sort {
   color: #707070;
   font-size: 14px;
   display: flex;
   align-items: center;
}

button.icon-sort-amount-desc {
   font-size: 18px;
   color: #455a64;
}

button.icon-unsorted {
   font-size: 14px;
   color: #707070;
}

.product-page__content {
   width: 100%;
}

.product-page__content {
   .product__item {
      max-width: 270px;
      transition: all .3s;
   }

   .product__item-img {
      min-height: 180px;
   }

   .product__item-content {
      padding: 10px 20px;
   }

   .product__item-title {
      font-size: 16px;
   }

   .product__item-info {
      min-height: 65px;
      padding: 10px 20px;
   }

   .rate-star {
      margin-right: 5px;
   }

   .jq-ry-container {
      padding: 0;
   }
}

.product-page__items {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   margin-bottom: 30px;
}

.pagination__list {
   li {
      display: inline-block;

      &+li {
         margin-left: 6px;
      }
   }

   a,
   span {
      box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
      width: 43px;
      height: 38px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      font-size: 16px;
      color: $bg;
      @include f500;

      &.active {
         background-color: $red;
         color: #fff;
      }
   }
}

.product__item-text {
   display: none;
}

.product__item-price {
   span {
      display: none;
   }
}

.product__item-list {
   display: none;

   .icon-comment-o,
   .icon-heart-o {
      font-size: 12px;
      color: #70838d;
      padding-left: 50px;
      border-left: 1px solid #aeb4bb;
      position: relative;

      span {
         @include f500;
         color: $bg;
      }

      &::before {
         font-size: 16px;
         color: $green;
         position: absolute;
         left: 20px;
         top: 0;
      }
   }

   .icon-comment-o {
      padding-right: 30px;

      &::before {
         top: -2px;
      }
   }
}

.product__item {
   &.list {
      max-width: 100%;

      .product__item-img {
         width: 240px;
         float: left;
         min-height: 100%;
      }

      .product__item-text {
         display: block;
         font-size: 14px;
         color: #70838d;
         margin-top: 10px;
         margin-bottom: 5px;
      }

      .product__item-price {
         font-size: 30px;


         span {
            display: block;
            font-size: 13px;
            color: #aeb4bb;
            margin-top: 15px;
            margin-left: -10px;
         }
      }

      .product__item-name {
         max-width: 480px;
      }

      .product__item-content {
         padding: 18px 30px 0px;
      }

      .product__item-list {
         display: block;
      }

      .product__item-star {
         margin-left: auto;
         margin-right: 30px;
      }

      .product__item-info {
         min-height: 60px;
         padding: 10px 30px;
      }
   }
}

// END Product-page
// Start Product-one

.product-one {
   padding-bottom: 100px;
}

.product-one__inner {
   display: flex;
}

.product-one__content {
   margin-right: 31px;
   max-width: 870px;
}

.product-one__images-inner {
   background-color: #fff;
   border: 1px solid #dcdcdc;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 16px;
}

.product-one__images {
   max-width: 829px;
   width: 100%;
   height: 422px;
   // background-image: url(../images/content/product_one-1.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.product-one__title {
   font-size: 30px;
   color: $bg;
   line-height: 40px;
   @include f500;
   margin-top: 30px;
   margin-bottom: 20px;
}

.product-one__text {
   font-size: 16px;
   color: #707070;
   margin-bottom: 35px;
   margin-top: 20px;
}

.product-one__box {
   margin-bottom: 55px;
   display: flex;
   justify-content: space-between;
   text-align: center;
}

.product-one__link {
   a {
      padding: 13px 8px;
      width: 150px;
      color: $grey;
      font-size: 14px;

      &+a {
         margin-left: 20px;
      }
   }
}

.link-live {
   background-color: $red;
}

.link-screenshots {
   background-color: #455a64;
}

.link-documentation {
   background-color: #8bc34a;
}

.product-one__social {
   a {
      width: 54px;
      height: 50px;
      position: relative;

      &+a {
         margin-right: 3px;
      }

      &::before {
         font-size: 18px;
         color: #fff;
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
      }
   }
}

.icon-facebook {
   background-color: #6370b6;
}

.icon-twitter {
   background-color: #64b5f6;
}

.icon-linkedin {
   background-color: #4f71ce;
}

.icon-pinterest-p {
   background-color: #d32f2f;
}

.tabs {
   display: flex;
   text-align: center;
   border: 1px solid #dedede;

   .tab {
      width: 100%;
      background-color: #fff;
      font-size: 16px;
      color: #70838d;
      padding: 20px 0;
      cursor: pointer;

      &+.tab {
         border-left: 1px solid #dedede;
      }
   }
}

.tab__content {
   background-color: #fff;
   border: 1px solid #dedede;
   border-top: none;
   padding: 30px 30px 50px;
}

.product-one__tabs {
   margin-bottom: 55px;
}

.tab-item {
   display: none;

   &:first-child {
      display: block;
   }
}

.tab-item__list {
   font-size: 16px;
   line-height: 36px;
   color: #707070;
   column-count: 2;
   column-gap: 25px;

   li {
      max-width: 270px;
      width: 100%;
   }
}


.product-one__more-title {
   font-size: 18px;
   @include f500;
   color: $bg;
   padding: 18px 25px;
   background-color: #fff;
   border: 1px solid #dcdcdc;
   margin-bottom: 28px;
}

.product-one__more-icons {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}

.productmini {
   margin-bottom: 27px;
   display: flex;
   height: 90px;
   max-width: 270px;
   width: 100%;
   background-color: #fff;
   align-items: center;
   box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
}

.productmini__images {
   width: 100px;
   height: 90px;
   margin-right: 20px;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}


.productmini__name {
   @include f500;
   font-size: 14px;
   color: $bg;
}

.productmini__thema {
   font-size: 12px;
   color: $green;
}

.productmini__price {
   @include f700;
   font-size: 18px;
   color: $bg;
}

.price__box {
   display: flex;
   justify-content: space-between;
   padding: 30px 0;
}

.price__product {
   font-size: 22px;
   @include f500;
   color: $red;
}

.product__price {
   button {
      margin-bottom: 7px;
      box-shadow: 0px 1px 2px 0px rgba(69, 90, 100, 0.75);
      border: none;
      background-color: $text;
      color: #fff;
      font-size: 16px;
      font-family: 'Roboto', sans-serif !important;
      font-weight: 700;
      text-align: center;
      display: block;
      width: 100%;
      padding: 17px 5px 15px;
      cursor: pointer;

      &::before {
         font-weight: 400;
         font-family: 'icomoon';
         padding-right: 8px;
      }
   }

   .icon-shopping-cart {
      background-color: $green;
   }

   .icon-heart-o {
      background-color: #42a5f5;
   }
}

.product-author__box {
   padding: 25px 0;
   display: flex;
}

.author__avatar {
   margin-right: 14px;
}

.author__name {
   font-size: 18px;
   line-height: 18px;
   color: #263238;
   margin-bottom: 18px;
}

.author__info-link {
   color: #707070;
   font-size: 13px;
   line-height: 15px;
   padding: 6px 9px 5px;
   border: 1px solid #d3d3d3;
}

.author__awards-list {
   li {
      display: inline-block;
      color: #fff;
      font-size: 20px;
      text-align: center;
      position: relative;

      &::before {
         position: absolute;
         top: 6px;
         left: 0;
         right: 0;
      }

      &+li {
         margin-left: 4px;
      }
   }
}

.icon-meh-o {
   background-image: url(../images/awards/award-orange.png);
   width: 34px;
   height: 37px;
}

.icon-pagelines {
   background-image: url(../images/awards/award-red.png);
   width: 34px;
   height: 37px;
}

.icon-flash {
   background-image: url(../images/awards/award-blue.png);
   width: 34px;
   height: 37px;
}

.icon-foursquare {
   background-image: url(../images/awards/award-green.png);
   width: 34px;
   height: 37px;
}

.icon-yen {
   background-image: url(../images/awards/award-grey.png);
   width: 34px;
   height: 37px;
}

.aside__item-sales {
   padding-top: 23px;
   font-size: 16px;
   @include f300;
   color: #707070;

   span {
      font-size: 20px;
      @include f700;
      color: #263238;
      padding-right: 13px;

      &::before {
         content: "\f07a";
         font-family: 'icomoon';
         color: #a6b5bb;
         padding-right: 20px;
      }

   }
}

.aside__item.sales-number {
   padding-bottom: 25px;
}

.information__line{
   font-size: 14px;
   color: #70838d;
   margin-top: 20px;
   line-height: 18px;
   span{
     color: #263238;
     @include f500;
   }
}


// END Product-one




@import 'media';